/dhmoi/__pycache__/
/dhmoi/migrations/__pycache__/
/dhmoi/templatetags/__pycache__/
/maziotis/__pycache__/
*.pyc
.DS_Store
/dhmoi/.DS_Store
/tasks/migrations/__pycache__/
/tasks/__pycache__/
/tasks/.DS_Store
.vscode
/timologisi/.DS_Store
/timologisi/__pycache__/
/timologisi/migrations/__pycache__/
/timologisi/migrations/0004_merge_20201001_1852.py
/.vscode
Dockerfile
docker-compose.yml
Pipfile
Pipfile.lock
/media/
