{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}
<body>
	{% block content %}
	<div>
   <a href="{% url 'aithma_new' %}" class="btn btn-primary btn-lg a-btn-slide-text" title="Προσθήκη αιτήματος">
        <span class="fa fa-plus"></span>&nbsp<strong>Προσθήκη</strong>          
    </a>
    <a href="{% url 'export_aithmata' %}" class="btn btn-success btn-lg a-btn-slide-text">
        <span class="fa fa-download"></span>&nbsp<strong>Export</strong>         
    </a>

<fieldset class="border p-1">
   <legend  class="w-auto" style="color: #333399;">&nbspΦίλτρο</legend>
<form method="get">
      {% csrf_token %}
    <div class="well">
      
      <div class="row">
           <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.dhmos.label_tag }}
          {% render_field filter.form.dhmos class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.employee.label_tag }}
          {% render_field filter.form.employee class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-2">
          {{ filter.form.assign.label_tag }}
          {% render_field filter.form.assign class="form-control" %}
        </div>
       </div>
             <button type="submit" class="btn btn-primary">
        <span class="fa fa-search"></span>&nbspΑναζήτηση
      </button>
        </div>
</form>
</fieldset>
</div>
&nbsp
<table class="table table-sm" id="table1">
<thead>
        <tr>
            <th colspan="10" class="tbhead" style="color: #333399;">Αιτήματα</th>
        </tr>
    </thead>
  <tr style="color: #333399;">
  		<th>Καταχ.</th>
		<th>Πελάτης</th>
		<th>Περιγραφή</th>
		<th>Επαφή</th>
		<th>Χρέωση</th>
		<th>Ημ.Κλεισ.</th>
		<th>Διόρθωση</th>
  </tr>
  {% for aithmata in filter.qs %}
  <tr>
    	<td>{{aithmata.importdate|date:"d/m/Y"}}</td>
		<td>{{aithmata.dhmos}}</td>
		<td title="{{aithmata.info}}">{{aithmata.info|truncatewords:5}}</td>
		<td>{{aithmata.employee}}</td>
		<td>{{aithmata.assign.get_full_name}}</td>
		<td><font color="red">{{aithmata.closedate|date:'d/m/Y'}}</font></td>
    <td ><a href="{% url 'aithma_update' pk=aithmata.pk %}" class="btn btn-primary a-btn-slide-text">
    <span><span><i class="fa fa-eye" aria-hidden="true"></i></span>
        <a class="btn btn-danger a-btn-slide-text" onclick="return confirm('Είστε σίγουρος/η για την διαγραφή;');" href="{% url 'delete_aithma' pk=aithmata.pk %}"><span><span><i class="fa fa-trash" aria-hidden="true"></i></span>
    </a>
    </a></td>
  </tr>
  {% endfor %}

</table>
	{% endblock %}
	
</body>