{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
  <a href="{% url 'pelatis_new' %}" class="btn btn-primary btn-sm " title="Προσθήκη πελάτη">
  <span class="fa fa-plus"></span>&nbsp<strong>Νέα εγγραφή</strong>          
  </a>
  <a href="{% url 'export_pelates' %}" class="btn btn-success btn-sm ">
  <span class="fa fa-download"></span>&nbsp<strong>Export</strong>         
  </a>
</div>
&nbsp
<table id="pelatis-table" class="display compact" style="width:100%">
<thead>
  <tr>
    <th colspan="10" class="tbhead" style="color: #333399;">Πελάτες</th>
  </tr> 
  <tr style="color: #333399; font-size:14px;">
    <th class="tableHead">Φορέας<i class="fas fa-sort fa-fw"></i></th>
    <th class="tableHead">Διέυθυνση<i class="fas fa-sort fa-fw"></i></th>
    <th class="tableHead">Πόλη<i class="fas fa-sort fa-fw"></i></th>
    <th class="tableHead">Τηλέφωνο<i class="fas fa-sort fa-fw"></i></th>
    <th class="tableHead">Fax<i class="fas fa-sort fa-fw"></i></th>
    <th class="tableHead">Emai<i class="fas fa-sort fa-fw"></i></th>
    <th class="tableHead">Website<i class="fas fa-sort fa-fw"></i></th>
    <th class="tableHead">Διόρθωση<i class="fas fa-sort fa-fw"></i></th>
  </tr>
</thead>
<tbody>
{% for dhmos in filter.qs %}
<tr>
    <td >{{dhmos.name|default_if_none:""}}</td>
    <td >{{dhmos.address|default_if_none:""}}</td>
    <td >{{dhmos.city|default_if_none:""}}</td>
    <td >{{dhmos.phone|default_if_none:""}}</td>
    <td >{{dhmos.fax|default_if_none:""}}</td>
    <td ><font color="blue">{{dhmos.email|default_if_none:""}}</font></td>
    <td >{{dhmos.website|default_if_none:""}}</td>
    <td ><a href="{% url 'pelatis_update' pk=dhmos.pk %}" class="btn btn-primary btn-sm mr-1">
    <span><i class="fa fa-eye" aria-hidden="true"></i></span>
    <a class="btn btn-danger btn-sm" onclick="return confirm('Είστε σίγουρος/η για την διαγραφή;');" href="{% url 'delete_pelatis' pk=dhmos.pk %}"><span><span><i class="fa fa-trash" aria-hidden="true"></i></span>            
    </a>           
    </td>
</tr>
{% endfor %}
</tbody>
</table>
<script>
$(document).ready( function () {
    $('#pelatis-table').DataTable({
      "pagingType": "full_numbers",
      "language": {
            "lengthMenu": "Εμφάνιση _MENU_ εγγραφών ανά σελίδα",
            "zeroRecords": "Nothing found - sorry",
            "info": "Σελίδα _PAGE_ από _PAGES_",
            "infoEmpty": "No records available",
            "infoFiltered": "(filtered from _MAX_ total records)",
            "search": "Αναζήτηση:",
            "paginate": {
            "previous": " < ",
            "next": " > ",
            "first": " << ",
            "last": " >> "
          }
        },
        dom: 'Bfrtip',
             buttons: [
            'copy', 'csv', 'excel', 'pdf',
        ],
    });
} );
</script>
{% endblock %}

