{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div>
  <a href="{% url 'service_new' %}" class="btn btn-primary btn-sm" title="Προσθήκη πελάτη">
      <span class="fa fa-plus"></span>&nbsp<strong>Νέα εγγραφή</strong>
  </a>
  <a href="#" class="btn btn-success btn-sm">
      <span class="fa fa-download"></span>&nbsp<strong>Export</strong>
  </a><p></p>
<fieldset class="border p-1">
   <legend  class="w-auto" style="color: #333399;">&nbspΑναζήτηση</legend>
<form method="get">
      {% csrf_token %}
    <div class="well">
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.employee.label_tag }}
          {% render_field filter.form.employee class="form-control" %}
        </div>
       </div>
             <button type="submit" class="btn btn-warning btn-sm">
        <span class="fa fa-search"></span>&nbspΑναζήτηση
      </button>
        </div>
</form>
</fieldset>
</div>
&nbsp
<table id="service-table" class="display compact" style="width:100%">
<thead>
  <tr>
    <th colspan="10" class="tbhead" style="color: #333399;">Service</th>
  </tr>
  <tr style="color: #333399;">
  	<th class="tableHead">Πελάτης<i class="fas fa-sort fa-fw"></i></th>
		<th class="tableHead">Τηλέφωνο</th>
		<th class="tableHead">Κινητό</th>
		<th class="tableHead">Ημ.Εισαγ.<i class="fas fa-sort fa-fw"></i></th>
		<th class="tableHead">Ημ.Εξαγ.<i class="fas fa-sort fa-fw"></i></th>
		<th class="tableHead">Έτος<i class="fas fa-sort fa-fw"></i></th>
		<th class="tableHead">Βλάβη</th>
		<th class="tableHead">Κόστος<i class="fas fa-sort fa-fw"></i></th>
    <th class="tableHead">ACS<i class="fas fa-sort fa-fw"></i></th>
		<th class="tableHead">Διόρθωση</th>
  </tr>
</thead>
<tbody>
  {% for service in filter.qs %}
	<tr>
		<td>{{service.customername}}</td>
		<td>{{service.phone}}</td>
		<td>{{service.cellphone}}</td>
		<td>{{service.importdate|date:"d/m/Y"}}</td>
		<td><font color="red">{{service.exportdate}}</font></td>
		<td>{{service.year}}</td>
		<td>{{service.info}}</td>
		<td>{{service.cost}}</td>
    <td>{{service.employee.get_full_name}}</td>
    <td ><a href="{% url 'service_update' pk=service.pk %}" class="btn btn-primary btn-sm mr-1">
    <span><span><i class="fa fa-eye" aria-hidden="true"></i></span>
        <a class="btn btn-danger btn-sm" onclick="return confirm('Είστε σίγουρος/η για την διαγραφή;');" href="{% url 'delete_service' pk=service.pk %}"><span><span><i class="fa fa-trash" aria-hidden="true"></i></span>
    </a>
    </a></td>
	</tr>
	{% endfor %}
</tbody>
</table>
<script>
  $(document).ready( function () {
      $('#service-table').DataTable({
        "pagingType": "full_numbers",
        "language": {
              "lengthMenu": "Εμφάνιση _MENU_ εγγραφών ανά σελίδα",
              "zeroRecords": "Nothing found - sorry",
              "info": "Σελίδα _PAGE_ από _PAGES_",
              "infoEmpty": "No records available",
              "infoFiltered": "(filtered from _MAX_ total records)",
              "search": "Αναζήτηση:",
              "paginate": {
              "previous": " < ",
              "next": " > ",
              "first": " << ",
              "last": " >> "
            }
          }
      });
  } );
  </script>

{% endblock %}
