{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div>
    <form action="{% url 'ergasia_search' %}" method="get">
        <input name="q" type="text" class="search form-control" placeholder="Τι ακριβώς ψάχνεται...στις Εργασίες;;;">
      </form>


      <ul>
        {% for ergasies in object_list %}
          <li>
            <h5>{{ergasies.dhmos}} - {{ergasies.name}} - {{ergasies.importdate|date:"d/m/Y"}} - {{ergasies.employee.get_full_name}}</h5>
                <p>
                {{ ergasies.info }}</p>
          </li>
        {% endfor %}
      </ul>
{% endblock %}