{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<fieldset class="border p-1">
   <legend  class="w-auto" style="color: #333399;">&nbspΝέα εγγραφή</legend>
<form method="POST">{% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-4">
    {{dhmosform.name|as_crispy_field}}
    </div>
     <div class="form-group col-md-4">
    {{dhmosform.address|as_crispy_field}}
    </div>
     <div class="form-group col-md-4">
    {{dhmosform.city|as_crispy_field}}
    </div>
    <div class="form-group col-md-3">
    {{dhmosform.phone|as_crispy_field}}
</div>
	<div class="form-group col-md-3">
	{{dhmosform.fax|as_crispy_field}}
	</div>
  <div class="form-group col-md-3">
    {{dhmosform.teamviewer|as_crispy_field}}
    </div>
    <div class="form-group col-md-3">
      {{dhmosform.email|as_crispy_field}}
  </div>
</div>
<div class="form-row">
	<div class="form-group col-md-3">
	{{dhmosform.website|as_crispy_field}}
	</div>
    <div class="form-group col-md-4" style="margin-top: 30px;">
  {{dhmosform.is_visible|as_crispy_field}}
  </div>
 
</div>
<div class="form-row" style="clear: both;">
       <div class="form-group col-md-8 mb-0">
       		{{ dhmosform.info|as_crispy_field }}
       		</div>
       </div> 
         <div class="form-row" style="clear:both; float: right; margin-right: 20px;">
        <a href="{% url 'pelatis' %}"><button type="button" class="save btn btn-primary btn-sm">Επιστροφή</button></a>&nbsp&nbsp
        <button type="submit" class="save btn btn-success btn-sm">Αποθήκευση</button>
      
    </div>
</form>
</fieldset>

 
{% endblock %}