{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<fieldset class="border ps-1">
    <legend class="w-auto" style=" color: #333399;">&nbspΔιόρθωση εγγραφής</legend>
<form method="POST" enctype = "multipart/form-data">{% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-4">
    {{prosforaform.pelatis|as_crispy_field}}
    </div>
     <div class="form-group col-md-4">
    {{prosforaform.contact|as_crispy_field}}
    </div>
    <div class="col-2">
    {{prosforaform.poso|as_crispy_field}}
    </div>
     <div class="form-group col-md-4">
    {{prosforaform.app|as_crispy_field}}
    </div>
    <div class="form-group col-md-4">
    {{prosforaform.date_send|as_crispy_field}}
    {{ prosforaform.media }}
    </div>
     <div class="form-group col-md-4">
    {{prosforaform.document|as_crispy_field}}
    </div>
   </div>
 <div class="form-row">
    <div class="col-2">
    {{prosforaform.prosfora_des|as_crispy_field}}
    {{prosforaform.is_ongoing|as_crispy_field}}
    </div>
    </div>
<div class="form-row" style="clear:both; float: right; margin-right: 20px;">
    <a href="{% url 'prosfora' %}"><button type="button" class="save btn btn-primary">Επιστροφή</button></a>&nbsp&nbsp
    <button type="submit" class="save btn btn-success">Αποθήκευση</button>
</div>
</form>


</fieldset>



{% endblock %}