{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Μαζιώτης Σταύρος & ΣΙΑ Ε.Ε</title>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    {% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="/" ><h3>Μαζιώτης Σταύρος & ΣΙΑ Ε.Ε</h3></a>
        </div>
        <ul class="list-unstyled components">
            {% if user.is_authenticated %}
  <p class="loguser"><strong>Χρήστης:</strong>&nbsp{{ user.first_name }} {{ user.last_name }}<br>
    <strong>Ημερομηνία:</strong> {% now 'd/m/Y' %}
            {% endif %}
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-home mr-2"></span>Αρχείο</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="{% url 'pelatis' %}"><i class="fas fa-address-book mr-2"></i>Πελάτες</a>
                    </li>
                    <li>
                        <a href="{% url 'epafi' %}"><i class="fas fa-user-friends mr-2"></i>Επαφές</a>
                    </li>
                    <li>
                        <a href="{% url 'ergasia' %}"><i class="fas fa-list-ol mr-2"></i>Εργασίες<span class="badge badge-danger ml-1">{{total_ergasies}}</span></a>
                    </li>
                    <li>
                        <a href="{% url 'adeia' %}"><i class="fas fa-calendar mr-2"></i>Άδειες</a>
                    </li>
                    <li>
                        <a href="{% url 'aithma' %}" title="Σύνολο αιτημάτων ACS"><i class="fas fa-tasks mr-2"></i>Αιτήματα<span class="badge badge-danger ml-1">{{all_aithmata}}</span></a>
                    </li>
                    <li>
                    <a href="{% url 'training' %}"><i class="fas fa-book-open mr-2"></i>Εκπαιδεύσεις<span class="badge badge-danger ml-1">{{total_training}}</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#printSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-book mr-2"></span>Ευρετήριο</a>
                <ul class="collapse list-unstyled" id="printSubmenu">
                    <li>
                        <a href="{% url 'ergasia_search' %}"><i class="fas fa-list-ol mr-2"></i>Εργασίες</a>
                    </li>
                    <li>
                        <a href="{% url 'polisi_search' %}#"><i class="fas fa-euro-sign mr-2"></i>Πωλήσεις</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#configSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-desktop mr-2"></span>ACS</a>
                <ul class="collapse list-unstyled" id="configSubmenu">
                    <li>
                        <a href="{% url 'polisi' %}"><i class="fas fa-euro-sign mr-2"></i>Πωλήσεις</a>
                    </li>
                    <li>
                        <a href="{% url 'tameiaki' %}"><i class="fas fa-wallet mr-2"></i>Ταμειακές</a>
                    </li>
                    <li>
                        <a href="{% url 'service' %}"><i class="fas fa-wrench mr-2"></i>Service</a>
                    </li>
                    <li>
                        <a href="{% url 'hardware' %}"><i class="fas fa-microchip mr-2"></i>Hardware</a>
                    </li>
                </ul>
            </li>
            {% if perms.is_superuser%}
            <li>
                <a href="#configmanager" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-chalkboard-teacher mr-2"></span>Διεύθυνση</a>
                <ul class="collapse list-unstyled" id="configmanager">
                    <li>
                        <a href="{% url 'prosfora' %}"><i class="fas fa-euro-sign mr-2"></i>Προσφορά</a>
                    </li>
                    <li>
                        <a href="{% url 'symbasi' %}"><i class="fas fa-wallet mr-2"></i>Σύμβαση</a>
                    </li>
                    <li>
                        <a href="{% url 'timologio' %}"><i class="fas fa-file-alt mr-2"></i>Τιμολόγηση</a>
                    </li>
                    <li>
                        <a href="{% url 'adeia_search' %}"><i class="fas fa-calendar mr-2"></i>Άδειες</a>
                    </li>
                </ul>
            </li>
            {% else %}
            <li>
                <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" onclick="alert('Περιορισμένα δικαιώματα {{user.first_name}}');"><span class="fa fa-chalkboard-teacher mr-2"></span>Διεύθυνση</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <!-- Page Content -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-warning">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'index' %}">Notes&nbsp<sup class="task_count"><span class="badge badge-danger" title="Ενεργά Tasks">{{total_tasks}}</span></sup></a>
                            </li>
                            {% if perms.is_superuser%}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">Διαχείριση</a>
                            </li>
                            {% else %}
                                <li classs="nav-item">
                                    <a class="nav-link" href="#" onclick="alert('Περιορισμένα δικαιώματα {{user.first_name}}');">Διαχείριση</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}"><strong>Έξοδος</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {% block content %}

    {% endblock  %}
    </div>
</div>   
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <!-- Popper.JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
 

     <script type="text/javascript">
        $(document).ready(function () {

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

});
     </script>
</body>
</html>