{% extends 'base_charts.html' %}

{% block title %}Σύνολο Πωλήσεων έτους {{request.GET.q}}{% endblock title %}

{% block content %}
<style>
.input_field {
    border-radius: 8px;
    border: 3px solid #BADA55;
    outline: none;
    height: 35px;
    text-align:center;
    
}
.box {
   margin: 0 auto;
   text-align: center;
}
</style>


<div class="box">
<form action="{% url 'polisi_chart' %}" method="get"><br/>
  <input name="q" type="text" placeholder=" Έτος..." class="input_field" autocomplete="off">
</form>


</div>


<canvas id="polChart" width="1800" height="500"></canvas>

{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function(){
        var ctx = document.getElementById('polChart');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [{% for item in qs %}'{{item.dhmos__name}}',{% endfor %}],
                datasets: [{
                    label: '',
                    data: [{% for item in qs %}{{item.total}},{% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(145, 100, 33, 0.2)',
                        'rgba(233, 148, 200, 0.2)'
                        
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(145, 100, 33, 1)',
                        'rgba(233, 148, 200, 1)'
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                             stepSize: 1,
                            beginAtZero: true,
                            
                        },
                        scaleLabel: {
                        display: true,
                        labelString: "Πωλήσεις έτους {{ request.GET.q }}",
                        fontFamily: "Montserrat",
                        fontColor: "black",
                        fontSize: 25,
                    },
                }],
                },
                layout: {
                    padding:{
                        
                        left:50,
                        right:50,
                        top:50,
                        bottom:0
                    }
                    
                },
                title: {
                display: true,
                text: "Σύνολο πωλήσεων έτους {{request.GET.q}}",
                position: "top",
                fontSize: 25,
                padding: 15,
                linegeight: 5,
                },
                animation: {
                    duration: 3000,
                    easing: "easeInOutBounce",
                }
                }
        });
            })

</script>
{% endblock scripts %}


